@model TRPTools.ViewModels.AddOrderViewModel

<form asp-for="Order" asp-action="Add" formmethod="post">
    <div class="form-group">
        <label asp-for="CupType"></label>
        <select class="form-control" asp-for="CupType" />
    </div>
    <label asp-for="Glitter"></label>
    <div class="form-group">
        <select class="form-control" asp-for="Glitter" />
    </div>
    <input type="submit" value="Submit" />
</form>